/* FORM STYLES */
.main main .form {
    max-width: 500px;
    margin: 0 auto 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main main .form input,
textarea,
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main main .form input:focus,
textarea:focus,
select:focus {
    border-color: #9754CB;
    outline: none;
}