.main main .form {
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
}
.main main .form input, textarea, select {
    width: 100%;
    margin: 6px 0;
    padding: 7px;
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 5px;
    color: #333;
    border: 1px solid #8f8e8e;
}
.main main .form input:focus, textarea:focus, select:focus {
    border: 2px solid #9754CB;
    outline: none;
}