.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    max-width: 500px;
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.modal-content input, select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 8px;
}
button {
    margin: 0 15px;
}

.progress-circle {
    position: relative;
    width: 50px; /* Reducido */
    height: 50px;
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem; /* Tamaño del texto ajustado */
    font-weight: bold;
    color: #333;
  }
  
  .progress-ring {
    transform: rotate(-90deg);
  }
  
  .progress-ring__background,
  .progress-ring__circle {
    fill: none;
    stroke-width: 5; /* Grosor reducido */
    r: 25; /* Radio ajustado */
    cx: 35;
    cy: 35;
  }
  
  .progress-ring__background {
    stroke: #ddd;
  }
  
  .progress-ring__circle {
    stroke: url(#gradient);
    stroke-linecap: round;
    stroke-dasharray: 188.4; /* Circunferencia ajustada */
    stroke-dashoffset: 188.4;
    transition: stroke-dashoffset 0.3s ease-in-out, stroke 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  .complete {
    stroke: #40e0d0;
    filter: drop-shadow(0 0 2px #40e0d0); /* Sombreado reducido */
  }