@import url('form.css');
@import url('metas.css');
@import url('modal.css');
/* Reset y estilos en general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
}

header {
    max-width: 1080px;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
}
h1 {
    margin: 8px 0;
    font-size: 1.8rem;
    font-weight: 900;
}
img {
    display: none;
    width: 2.4rem;
}
span {color: #9754CB;}

button {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #9754CB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #6237A0;
}

/* Estilos .main, aside y main */
.main {
    max-width: 1080px;
    height: calc(100vh - 136px);
    margin: 10px auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

/* Estilos aside */
.main aside {
    width: 20%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #DEACF5, #6137A0);
    background-color: #f4f4f4;
}

.main aside a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.main aside a:hover {
    background-color: rgba(151, 84, 203, 0.7);
}
.main main {
    width: 78%;
    background-color: #c69fe4;width: 78%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #c69fe4;
}

/* Estilos footer */
footer {
    max-width: 1080px;
    margin: 10px auto 0;
    padding: 10px 15px;
    font-size: 0.7em;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px;
    text-align: center;
}
